*{
  margin:0;
  padding:0;
  font-family: 'Times New Roman', Times, serif;

}
h1{
  padding-top: 20px;
}

.head{
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(194, 228, 247);

}
.right{
  text-align: right;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  padding-top: 0;
  margin-top: 0;
}
.right a{
  color: red;
}

.day{
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(194, 228, 247);
}

.day h2{
  color: red;
  padding: 10px;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: disc;
  margin-left: 50px;
  padding-top: 5px;

}

.cont {
  padding-bottom: 10px;
}